@font-face {
  font-family: Biko;
  src: url(/fonts/Biko_Regular.otf);
}

@font-face {
  font-family: Biko;
  font-weight: bold;
  src: url(/fonts/Biko_Bold.otf);
}

@font-face {
  font-family: Biko;
  font-weight: 900;
  src: url(/fonts/Biko_Black.otf);
}

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700');
/* font-family: 'Hind Madurai' */

input::-webkit-input-placeholder {
  color: #c9818c !important;
}

input:-moz-placeholder {
  color: #c9818c !important;
}

input::-moz-placeholder {
  color: #c9818c !important;
}

input:-ms-input-placeholder {
  color: #c9818c !important;
}

input {
  color: #20326a;
}

a {
  color: inherit;
}



.grid-container-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "Section-Title Section-Title Section-Title Section-Title" "Section-Content-Left Section-Content-Left Section-Content-Left .";
}

.Section-Title { grid-area: Section-Title; }

.Section-Content-Left { grid-area: Section-Content-Left; }

.grid-container-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "Section-Title Section-Title Section-Title Section-Title" ". Section-Content-Right Section-Content-Right Section-Content-Right";
}

.Section-Title { grid-area: Section-Title; }

.Section-Content-Right { grid-area: Section-Content-Right; }

.sponsorship ul {
  margin: 0;
}

.grid-container-sponsorship {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Tier-Icon Tier-Name Tier-Name Tier-Name" "Tier-Icon Tier-Perks Tier-Perks Tier-Perks";
  padding-bottom: 1.2em;
}

.grid-container-sponsorship:last-of-type {
  padding-bottom: 0;
}

.Tier-Icon {
  grid-area: Tier-Icon;
  padding-right: 1em;
}

.Tier-Name {
  grid-area: Tier-Name;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Tier-Perks {
  grid-area: Tier-Perks;
  align-self: flex-start;
}

/* lol this is the icon*/
.sponsorship a img {
  position: absolute;
  margin-top: 20px;
  left: 20px;
}

.sponsorship .page-headline {
  max-width: calc(100vw - 140px);
  padding: 50px 0 40px;
  margin: 0 auto;
}


@media all and (max-width: 736px) {
  .sponsorship {
    padding: 0 1rem !important;
  }

  .sponsorship .page-headline {
    font-size: 2.5rem;
  }

  /* lol this is the icon*/
  .sponsorship a img {
    height: 50px;
  }

  .grid-container-sponsorship {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Tier-Icon Tier-Name Tier-Name Tier-Name" "Tier-Perks Tier-Perks Tier-Perks Tier-Perks";
    padding-bottom: 1.2em;
  }

  .grid-container-sponsorship img {
    max-width: 100px;
  }
}
